.borderdd{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.borderddd{
    
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.borderdddd{
    border-left: none;
    border-top: none;
    border-bottom: none;
}
