<section class="pending">
    <mat-card>
      <mat-card-content>
        <h2>Pending Returns ({{ pendingReturns.length }})</h2>
      </mat-card-content>
    </mat-card>
  
    <table mat-table [dataSource]="pendingReturns" class="mat-elevation-z8" *ngIf="pendingReturns.length > 0">
      <!-- Order ID Column -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Book ID Column -->
      <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef> Book ID </th>
        <td mat-cell *matCellDef="let element"> {{element.bookId}} </td>
      </ng-container>
  
      <!-- Book Title Column -->
      <ng-container matColumnDef="bookTitle">
        <th mat-header-cell *matHeaderCellDef> Book Title </th>
        <td mat-cell *matCellDef="let element"> {{element.bookTitle}} </td>
      </ng-container>
  
      <!-- Order Date Column -->
      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date:'shortDate'}} </td>
      </ng-container>
  
      <!-- Fine To Pay Column -->
      <ng-container matColumnDef="fineToPay">
        <th mat-header-cell *matHeaderCellDef> Fine To Pay </th>
        <td mat-cell *matCellDef="let element"> {{getFineToPay(element)}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsForPendingReturns"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsForPendingReturns;"></tr>
    </table>
  
    <mat-card *ngIf="pendingReturns.length === 0">
      <mat-card-content>
        <h2>No Orders Done Yet!</h2>
      </mat-card-content>
    </mat-card>
  </section>
  
  <section class="returned">
    <mat-card>
      <mat-card-content>
        <h2>Returned Orders ({{ completedReturns.length }})</h2>
      </mat-card-content>
    </mat-card>
  
    <table mat-table [dataSource]="completedReturns" class="mat-elevation-z8" *ngIf="completedReturns.length > 0">
      <!-- Order ID Column -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Book ID Column -->
      <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef> Book ID </th>
        <td mat-cell *matCellDef="let element"> {{element.bookId}} </td>
      </ng-container>
  
      <!-- Book Title Column -->
      <ng-container matColumnDef="bookTitle">
        <th mat-header-cell *matHeaderCellDef> Book Title </th>
        <td mat-cell *matCellDef="let element"> {{element.bookTitle}} </td>
      </ng-container>
  
      <!-- Order Date Column -->
      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date:'shortDate'}} </td>
      </ng-container>
  
      <!-- Returned Date Column -->
      <ng-container matColumnDef="returnedDate">
        <th mat-header-cell *matHeaderCellDef> Returned Date </th>
        <td mat-cell *matCellDef="let element"> {{element.returnDate | date:'shortDate'}} </td>
      </ng-container>
  
      <!-- Fine Paid Column -->
      <ng-container matColumnDef="finePaid">
        <th mat-header-cell *matHeaderCellDef> Fine Paid </th>
        <td mat-cell *matCellDef="let element"> {{element.finePaid}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsForCompletedReturns"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsForCompletedReturns;"></tr>
    </table>
  
    <mat-card *ngIf="completedReturns.length === 0">
      <mat-card-content>
        <h2>No Orders Done Yet!</h2>
      </mat-card-content>
    </mat-card>
  </section>
  