<h1> First Angular App </h1>

<br>
<!--
<app-navbar></app-navbar>
<app-header></app-header>
<br>
{{title}}

 <p>Sum of 1 + 2 = {{ 1 + 2 }}</p>
Image: <img src="{{imageURL}}" alt="">
Image: <img [src]="imageURL" alt="">

<br>
<button disabled="{{isDisabled}}" > Disable Using String Interpolation </button>
<br>
<button [disabled]="isDisabled" > Disable Using Property Binding </button>
-->
<!-- one way and two way DataBinding
<input type="text" value="Default value">
<br>

<input type="text" [value]='textValue' (keyup.enter) = "onKeyup()">
{{textValue}}
<br>
-->

<h1 *ngIf="isLoggedIn">{{userName}}</h1>
@if(isLoggedIn){
    <p>{{userName}} Loggedin</p>
}
